<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>

<header class="portal-header">
    <h1>JSPM University</h1>
    <p>Student Portal</p>
</header>

<div class="dashboard-container">

    <h2>Welcome</h2>
    <p>Select an option below</p>

    <div class="dashboard-actions">

        <a href="/complaint_form" class="card">
            <h3>📩 Raise Complaint</h3>
            <p>Report an issue in the university</p>
        </a>

        <a href="/track" class="card">
            <h3>🔍 Track Complaint</h3>
            <p>Check status of your complaint</p>
        </a>

    </div>

</div>

</body>
</html>